{
  "presets": ["react-native"],
  "plugins": [
    [
      "module-resolver", {
        "extensions": [
          ".js",
          ".ts",
          ".tsx",
          ".styl"
        ],
        "root": [
          "./src"
        ]
      }
    ]
  ]
}
