.button {
  border-radius: 4px;

  &__disabled {
    elevation: 0px;
    background-color: #DFDFDF;
  }

  &__fill {
    background-color: var(--tint-bg);
  }

  &__android {
    border-radius: 2px;
  }
}

.text {
  font-size: 18px;
  color: var(--tint-bg);
  text-align: center;
  padding: 12px;

  &__fill {
    color: var(--tint-fg);
  }

  &__disabled {
    color: #CDCDCD;
  }

  &__android {
    font-size: 15px;
    font-weight: 400;
  }
}

.loading {
  padding: 12px;
}
