.button {
  &__disabled {
    elevation: 0px;
    background-color: #DFDFDF;
  }

  &__fill {
    background-color: var(--primary-color);
    border-radius: 4px;
  }
}

.text {
  font-size: 18px;
  color: var(--primary-color);
  text-align: center;
  padding: 12px;

  &__fill {
    color: var(--primary-text-color);
  }

  &__disabled {
    color: #CDCDCD;
  }
}

.loading {
  padding: 12px;
}
