.host {
  &__android {
    border-bottom-width: 1px;
    border-bottom-color: var(--content-divider-color);
    background-color: #ffffff;
  }
}

.items {
  &__ios {
    border-top-width: var(--hairline-width);
    border-top-color: var(--content-divider-color);

    border-bottom-width: var(--hairline-width);
    border-bottom-color: var(--content-divider-color);
  }
}

.header {
  padding-top: 16px;
  padding-bottom: 7.5px;

  padding-left: 15px;
  padding-right: 15px;

  &__text {
    font-size: 13px;
    color: var(--content-text-light-color);
    letter-spacing: -0.05px;

    &__android {
      color: var(--primary-color);
    }
  }
}

.footer {
  padding-top: 7.5px;
  padding-bottom: 7.5px;

  padding-left: 15px;
  padding-right: 15px;

  &__text {
    font-size: 13px;
    color: var(--content-text-light-color);
    letter-spacing: -0.05px;
  }
}
