.host {
  &__android {
    border-bottom-width: 1px;
    border-bottom-color: var(--content-border);
    background-color: var(--content-bg);
  }
}

.items {
  &__ios {
    border-top-width: var(--hairline-width);
    border-top-color: var(--content-border);

    border-bottom-width: var(--hairline-width);
    border-bottom-color: var(--content-border);
  }
}

.header {
  padding-top: 16px;
  padding-bottom: 7.5px;

  padding-left: 15px;
  padding-right: 15px;

  &__text {
    font-size: 13px;
    color: var(--content-fg);
    // TODO: tune opacity
    opacity: 0.75;
    letter-spacing: -0.05px;

    &__android {
      color: var(--tint-bg);
    }
  }
}

.footer {
  padding-top: 7.5px;
  padding-bottom: 7.5px;

  padding-left: 15px;
  padding-right: 15px;

  &__text {
    font-size: 13px;
    color: var(--content-fg);
    // TODO: tune opacity
    opacity: 0.65;
    letter-spacing: -0.05px;
  }
}
