.host {
  align-items: center;
  justify-content: center

  width: 29px;
  height: 29px;

  border-radius: 6px;
  padding: 2px;

  background-color: #aaaaaa;

  &__image {
    tint-color: #eeeeee;
    resize-mode: cover;
  }
}
