.host {
  align-items: center;
  justify-content: center

  width: 29px;
  height: 29px;

  border-radius: 6px;

  background-color: #aaaaaa;

  &__image {
    max-width: 22px;
    max-height: 22px;
    tint-color: #eeeeee;
    resize-mode: cover;
  }
}
