.host {
  flex: 1;
  background-color: var(--backdrop);
}

.list {
  flex: 1;
}

.container {
  flex: 1;
  align-items: center;
  justify-content: center;
  padding-bottom: 120px;
}

.text {
  padding-bottom: 30px;
}

.heading {
  font-size: 36px;
  font-weight: 200;
  line-height: 47px;
}

.page {
  padding: 12px;
  font-weight: 500;
  font-size: 13px;
  text-align: center;
  opacity:  0.555;
}
