.input {
  border: 1px solid;
  border-top-color: var(--content-text-lighter-color);
  border-bottom-color: var(--content-text-lighter-color);
  border-left-color: var(--content-text-lighter-color);
  border-right-color: var(--content-text-lighter-color);
  border-radius: 4px;
}

.textinput {
  font-size: 15px;
  padding: 12px;
  color: var(--content-text-color);
}
