.host {
  &__ios {
    border: 1px solid;
    border-top-color: var(--content-text-lighter-color);
    border-bottom-color: var(--content-text-lighter-color);
    border-left-color: var(--content-text-lighter-color);
    border-right-color: var(--content-text-lighter-color);
    border-radius: 4px;
  }

  &__android {
    margin-top: -12px;
  }
}

.input {
  font-size: 15px;
  padding: 12px;
  color: var(--content-text-color);

  &__android {
    padding: 16px 0px;
  }
}