.default {
  --hairline-width: 0.4px;

  --primary-color: #007aff;
  --primary-light-color: lighten(#007aff, 10%);
  --primary-dark-color: darken(#007aff, 10%);
  --primary-text-color: #ffffff;

  --secondary-color: #ff6c00;
  --secondary-light-color: lighten(#ff6c00, 10%);
  --secondary-dark-color: darken(#ff6c00, 10%);
  --secondary-text-color: #ffffff;
}

.light {
  --primary-color: #007aff;
  --primary-light-color: lighten(#007aff, 10%);
  --primary-dark-color: darken(#007aff, 10%);

  --secondary-color: #ff6c00;
  --secondary-light-color: lighten(#ff6c00, 10%);
  --secondary-dark-color: darken(#ff6c00, 10%);

  --backdrop-color: #f2f1f6;

  --content-bg-active-color: #f2f1f6;
  --content-bg-color: #ffffff;
  --content-text-color: #000000;
  --content-text-light-color: #686868;
  --content-text-lighter-color: #b7b6bb;
  --content-divider-color: #e3e3e3;

  --meta-bg-color: #f2f1f6;
  --meta-bg-active-color: #e6e5ea;
  --meta-border-color: #d0d0d0;
  --meta-text-color: #111111;
  --meta-text-light-color: #656568;
  --meta-text-lighter-color: #b7b6bb;
  --meta-icon-tint-color: #909193;
  --meta-divider-color: #d9d8dd;


  // Android
  --primary-color-android: #009688;
  --primary-dark-color-android: #00796B;
}

.dark {
  --primary-color: red;
  --primary-light-color: lighten(red, 10%);
  --primary-dark-color: darken(red, 10%);

  --secondary-color: #ff6c00;
  --secondary-light-color: lighten(#ff6c00, 10%);
  --secondary-dark-color: darken(#ff6c00, 10%);

  --backdrop-color: #111111;

  --content-bg-active-color: #000000;
  --content-bg-color: #151515;
  --content-text-color: #ffffff;
  --content-text-light-color: #b7b6bb;
  --content-text-lighter-color: #686868;
  --content-divider-color: #333333;

  --meta-bg-color: #222222;
  --meta-bg-active-color: #000000;
  --meta-border-color: #252525;
  --meta-text-color: #777777;
  --meta-text-light-color: #888888;
  --meta-text-lighter-color: #b7b6bb;
  --meta-icon-tint-color: #909193;
  --meta-divider-color: #444444;
}


.solarizedLight {
  --primary-color: #586E75;
  --primary-active-color: lighten(#007aff, 10%);
  --primary-text-color: #ffffff;

  --secondary-color: #D33682;
  --secondary-active-color: lighten(#ff6c00, 10%);
  --secondary-text-color: #ffffff;

  --backdrop-color: #FDF6E3;

  --content-bg-active-color: #FDF6E3;
  --content-bg-color: #EEE8D5;
  --content-text-color: #657B82;
  --content-text-light-color: #909193;
  --content-text-lighter-color: #656568;
  --content-divider-color: #656568;

  --meta-bg-color: #f2f1f6;
  --meta-bg-active-color: #e6e5ea;
  --meta-border-color: #d0d0d0;
  --meta-text-color: #111111;
  --meta-text-light-color: #656568;
  --meta-text-lighter-color: #b7b6bb;
  --meta-icon-tint-color: #909193;
  --meta-divider-color: #d9d8dd;
}

.solarizedDark {
  --primary-color: #fdf6e3;
  --primary-active-color: lighten(#007aff, 10%);
  --primary-text-color: #073642;

  --secondary-color: #ff6c00;
  --secondary-active-color: lighten(#ff6c00, 10%);
  --secondary-text-color: #ffffff;

  --backdrop-color: #073642;

  --content-bg-active-color: #073642;
  --content-bg-color: #002b36;
  --content-text-color: #93a1a1;
  --content-text-light-color: #909193;
  --content-text-lighter-color: #656568;
  --content-divider-color: #656568;

  --meta-bg-color: #073642;
  --meta-bg-active-color: #002b36;
  --meta-border-color: #073642;
  --meta-text-color: #93a1a1;
  --meta-text-light-color: #909193;
  --meta-text-lighter-color: #656568;
  --meta-icon-tint-color: #909193;
  --meta-divider-color: #d9d8dd;
}
