$gutter = 8px;
$colors = #0D61AB, #E48203, #7AC528, #842A7C, #9A012D, #0D61AB, #E48203, #7AC528


.flex {
  flex: 1;
}

.host {
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: var(--content-bg-color);

  &__card {
    margin-bottom: 8px;
  }
}

.container {
  padding-left: 16px;
  padding-right: 16px;
}

for color, i in $colors {
  .level{i} {
    margin-left: i * 16px;

    border-left-width: 2px;
    border-left-color: color;
  }
 }

.level0 {
  border-left-color: transparent;
}

.row {
  flex-direction: row;

  &__expanded {
    margin-bottom 10px;
  }
}

.author {
  font-family: 'System';
  font-size: 14px;
  font-weight: 500;
  color: var(--content-text-color);

  flex: 1;

  &__me {
    color: var(--primary-color);
  }
}

.ago {
  font-family: 'System';
  font-size: 14px;
  color: var(--content-text-light-color);
}


.text {
  font-family: 'System';
  font-size: 15px;
  color: var(--content-text-color);
}

.border {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 48px;
}

.icon {
  &__more {
    tint-color: var(--content-divider-color);

    margin-top: 2px;
    margin-right: 8px;
  }

  &__expand {
    tint-color: var(--content-text-lighter-color);
  }
}

.parent {
  background-color: var(--meta-bg-color);
  border-radius: 4px;
  padding: 16px;

  &__text {
    color: var(--meta-text-light-color);
  }

  &__title {
    color: var(--meta-text-light-color);
    margin-bottom: 8px;
  }

  &__author {
    font-weight: bold;
    color: var(--meta-text-light-color);
  }
}
