.host {
  margin: 8px;

  background: #fafafa;

  border-radius: 3px;

  border-top-width: 1px;
  border-top-color: rgba(255, 255, 255, 1);
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.04);

  display: flex;
  flex-direction: row;
}

.input {
  margin-left: 4px;

  background-color: transparent;

  flex: 1;
}

.icon {
  &__search {
    tint-color: rgba(0, 0, 0, 0.54);
    margin: 12px;
    width: 24px;
    height: 24px;
  }
}
