.host {}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.links {
  margin-top: 16px;
}

.code {
  padding: 8px;
  background-color: var(--text-code-bg);

  &__text {
    font-family: 'Courier New';
    color: var(--text-code-fg);
  }
}

.line {
  margin-bottom: 10px;
}

.quote {
  border-left-color: var(--text-quote-border);
  border-left-width: 2px;
  padding-left: 8px;

  &__text {
    opacity: 0.85;
  }
}
