.host {}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.links {
  margin-top: 15px;
}

.link {
  color: blue;
}

.code {
  padding: 8px;
  background-color: #EEE;

  &__text {
    font-family: 'Courier New';
    color: #333;
  }
}

.line {
  margin-bottom: 10px;
}

.quote {
  border-left-color: #AAA;
  border-left-width: 2px;
  padding-left: 10px;

  &__text {
    color: #AAA;
  }
}
