@import '../comment/Comment.styl';

.text {
  flex: 1;

  font-family: 'System';
  font-size: 14px;
  font-style: italic;
  color: rgb(0, 122, 255);
}

.container {
  flex-direction: row;
}

.icon__more {
  margin-right: 0px;
}
