.host {
  flex: 1;
  background-color: var(--backdrop-color);

  &__container {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.fontFamilyValue {
  text-align: right;
  font-size: 17px;
  color: var(--content-fg);
  // TODO: tune opacity
  opacity: 0.7;
  letter-spacing: -0.37px;
}
