// TODO: tune opacity

.row {
  flex-direction: row;

  &__left {
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
  }

  &__author {
    font-family: 'System';
    font-size: 15px;
    margin-bottom: 8px;
    color: var(--content-fg);
    opacity: 0.75

    &__compact {
      margin-bottom: 0px;
      margin-right: 8px;
    }
  }

  &__text {
    font-family: 'System';
    font-size: 14px;
    padding-right: 8px;
    color: var(--content-fg);
    opacity: 0.75

    &__active {
      color: var(--secondary-color);
    }
  }

  &__icon {
    tint-color: var(--content-fg);
    opacity: 0.75
    margin-right: 4px;

    &__active {
      tint-color: var(--secondary-color);
    }
  }

  &__actions {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__action {
    position: relative;

    width: 32px;
    height: 32px;

    margin-left: 8px;

    &__icon {
      tint-color: var(--content-fg);
      opacity: 0.75
    }

    &__active {
      tint-color: var(--secondary-color);
    }
  }
}

.downloaded {
  tint-color: var(--tint-bg);
}
