.host {
  flex: 1;
  background-color var(--backdrop-color);

  &__container {
    padding-top: 32px
    padding-bottom: 32px;
  }
}

.flex {
  flex: 1;
}

.container {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.login {
  flex: 1;
  align-items: center;
  justify-content: center;

  &__logo {
    tint-color: #ff6600;

    margin-bottom 16px;
  }

  &__text {
    font-family: 'System';
    font-size: 15px;
    text-align: center;
    color: #666;

    margin-bottom: 16px;
    padding: 0 30px;
  }

  &__button {
    width: 100%;
    padding: 0 30px;
    margin-bottom 8px;
  }
}
