.host {
  flex: 1;
}

.container {
  margin-top: 30px;

  align-items: center;
  justify-content: center;
}

.login {
  width: 100%;
  max-width: 380px;

  align-items: center;
}

.logo {
  tint-color: #ff6600;

  margin-bottom 16px;
}

.text {
  font-family: 'System';
  font-size: 15px;
  text-align: center;
  color: var(--content-fg);

  margin-bottom: 16px;
  padding: 0 30px;
}

.button {
  width: 100%;
  padding: 0 30px;
  margin-bottom 8px;
}
