.host {
  background-color: var(--content-bg-color);

  margin-bottom: 8px;
  padding: 16px;
}

.flex {
  flex: 1;
}

.content {
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: var(--content-bg-color);
}


.row {
  flex-direction: row;
  margin-bottom 10px;
}

.author {
  font-family: 'System';
  font-size: 14px;
  font-weight: 600;
  color: var(--content-text-color);

  flex: 1;
}

.ago {
  font-family: 'System';
  font-size: 14px;
  color: var(--content-text-light-color);
}


.text {
  font-family: 'System';
  font-size: 15px;
  color: var(--content-text-color);
}


.icon {
  &__expand {
    tint-color: #AAA;
  }

  &__more {
    tint-color: #AAA;

    margin-right: 8px;
  }
}

.parent {
  background-color: var(--meta-bg-color);
  border-radius: 4px;
  padding: 16px;

  &__text {
    color: var(--meta-text-light-color);
  }

  &__title {
    color: var(--meta-text-light-color);
    margin-bottom: 8px;
  }

  &__author {
    font-weight: bold;
    color: var(--meta-text-light-color);
  }
}
