.host {
  width: 100%;
  border-radius: 4px;

  &__large {
    margin-bottom: 16px;
  }
}

.text {
  flex: 1;
}

.image {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  border-top-width: var(--hairline-width);
  border-left-width: var(--hairline-width);
  border-right-width: var(--hairline-width);
  border-bottom-width: var(--hairline-width);

  aspect-ratio: 1.77;

  background-color: var(--meta-bg);
}

.content {
  align-items: center;
  flex-direction: row;

  padding: 8px;

  background-color: var(--meta-bg);

  border-top-width: var(--hairline-width);
  border-left-width: var(--hairline-width);
  border-right-width: var(--hairline-width);
  border-bottom-width: var(--hairline-width);

  border-radius: 4px;

  min-height: 48px;

  &__image {
    margin-top: -10px;

    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

    border-top-width: var(--hairline-width);
    border-top-color: var(--meta-border);
  }

  &__underlay {
    background-color: var(--meta-bg-highlight);
  }
}

.title {
  font-family: 'System';
  font-size: 14px;
  font-weight: 500;
  color: var(--meta-fg);
  opacity: 0.85;

  margin-bottom: 2px;
}

.url {
  &__host {
    font-family: 'System';
    font-size: 13px;
    color: var(--meta-fg);
    // TODO: tune opacity
    opacity: 0.75;
  }

  &__path {
    font-family: 'System';
    font-size: 13px;
    color: var(--meta-fg);
    // TODO: tune opacity
    opacity: 0.5;
  }
}

.divider {
  width: var(--hairline-width);
  background-color: var(--meta-fg);
  height: 100%;
  opacity: 0.3;

  margin-left: 10px;
  margin-right: 10px;

}

.icon {
  height: 100%;

  &__safari {
    tint-color: var(--meta-fg);
    top: 50%;
    margin-top: -16px;
    opacity: 0.5;
  }
}

.chevron {
  margin-left: 16px;
  tint-color: var(--meta-fg);
  opacity: 0.5;
}

.compact {
  width: 50px;
  height: 50px;
  margin-right: 16px;

  background-color: var(--meta-bg);

  border-radius: 4px;
  border-top-color: var(--meta-border);
  border-top-width: var(--hairline-width);
  border-left-color: var(--meta-border);
  border-left-width: var(--hairline-width);
  border-right-color: var(--meta-border);
  border-right-width: var(--hairline-width);
  border-bottom-color: var(--meta-border);
  border-bottom-width: var(--hairline-width);

  align-items: center;
  justify-content: center;

  &__image {
    width: 50px;
    height: 50px;

    border-radius: 4px;
  }

  &__right {
    margin-right 0px;
    margin-left: 16px;
  }
}
