.host {
  background-color: var(--content-bg);

  margin-bottom: 8px;

  &__compact {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}

.container {
  padding-top: 16px;
  padding-bottom: 16px;

  flex-direction: column;

  &__compact {
    padding-top: 8px;
    padding-bottom: 8px;
    flex-direction: row;
  }

  &__reverse {
    flex-direction: row-reverse;
  }
}

.content {
  flex: 1;
}

.title {
  font-family: 'System';
  font-size: 17px;

  margin-bottom: 16px;

  color: var(--content-fg);

  &__compact {
    margin-bottom: 8px;
  }
}

.read {
  opacity: 0.75;
}

.text {
  margin-bottom: 8px;
}

.summary {
  color: var(--content-fg);
  // TODO: tune opacity
  opacity: 0.65;
}

.divider {
  position: absolute;
  bottom: 0;
  left: 16px;
  right: 0;

  height: var(--hairline-width);
  background-color: var(--content-border);
}

.row {
  flex-direction: row;

  &__left {
    flex-direction: column;
    flex: 1;
  }

  &__author {
    font-family: 'System';
    font-size: 15px;
    margin-bottom: 8px;

    color: var(--content-fg);
    // TODO: tune opacity
    opacity: 0.75;
  }

  &__text {
    font-family: 'System';
    font-size: 14px;
    padding-right: 8px;
    color: var(--content-fg);
    // TODO: tune opacity
    opacity: 0.75;

    &__active {
      color: var(--secondary-color);
    }
  }

  &__icon {
    tint-color: var(--content-fg);
    margin-right: 4px;
    // TODO: tune opacity
    opacity: 0.75;

    &__active {
      tint-color: var(--secondary-color);
    }
  }

  &__actions {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__action {
    position: relative;

    width: 32px;
    height: 32px;

    margin-left: 8px;

    &__icon {
      tint-color: var(--content-fg);
      // TODO: tune opacity
      opacity: 0.75;
    }

    &__active {
      tint-color: var(--secondary-color);
    }
  }
}
