.flex {
  flex: 1;
}

.host {
  flex: 1;
  padding: 16px;
}

.input {
  padding: 16px;
  background-color var(--content-bg);
  color: var(--content-fg);
}

.comment {
  background-color var(--meta-bg);
  border-top-width: var(--hairline-width);
  border-top-color: var(--meta-border);
  padding: 16px;

  &__text {
    color: var(--meta-fg);
  }
}
