.flex {
  flex: 1;
}

.host {
  flex: 1;
  padding: 16px;
}

.input {
  padding: 16px;
  background-color var(--content-bg-color);
  color: var(--content-text-color);
}

.comment {
  background-color var(--meta-bg-color);
  border-top-width: var(--hairline-width);
  border-top-color: var(--meta-border-color);
  padding: 16px;

  &__text {
    color: var(--meta-text-color);
  }
}
